{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mx-auto text-center">
                            <button type="submit" class="btn btn-success w-50">Register</button>
                        </div>
                        <div class="mx-auto text-center mt-3">
                            <p>if you have account already, you can
                                <a class="text-primary text-decoration-none" href="{% url "users:register" %}">login</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
