{% extends 'base.html' %}
{% block title %}Phone List{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <h2 class="col">Phone List</h2>
        <div class="col text-end">
            <a class="btn btn-primary" role="button" href="{% url "core:add_brand" %}">Add Brand</a>
            <a class="btn btn-primary" role="button" href="{% url "core:add_phone" %}">Add Phone</a>
            <a class="btn btn-secondary" role="button" href="{% url "core:brand_list" %}">Brand List</a>

        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Brand Country</th>
                <th>Model</th>
                <th>Price</th>
                <th>Color</th>
                <th>Size</th>
                <th>Status</th>
                <th>Builder Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for phone in phones %}
            <tr>
                <td>{{ phone.brand.name }}</td>
                <td>{{ phone.brand.nationality }}</td>
                <td>{{ phone.model }}</td>
                <td>{{ phone.price }}</td>
                <td>{{ phone.color }}</td>
                <td>{{ phone.screen_size }}</td>
                <td>
                    {{ phone.status }}
                </td>
                <td>{{ phone.country_of_manufacture }}</td>
                <td>
                    <a href="{% url 'core:edit_phone' phone.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'core:delete_phone' phone.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}